*{
    margin:0;
    padding:0;
}
body{
    background-color:aqua;
    font-family: 'Times New Roman', Times, serif;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}
.card{
    background-color: beige;
    width:400px;
    padding:30px;
    text-align:center;
    box-shadow:0 10px 25px rgb(222, 133, 133);
}
img{
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}
h2{
    font-size: 25px;
    margin-bottom:10px;
}
p{
    color:cadetblue;
    font-size: 15px;
    margin-bottom: 5px;
}
.details p a{
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 5px;
}
.button a{
    text-decoration: none;
    background-color: blue;
    color:aliceblue;
    padding: 7px;
    border-radius: 5px;
    margin: 15px;
}
.button{
    margin-top: 30px;
}